@model PatientAppointmentSystem.Models.AvailableDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AvailableDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day.Day1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Day1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvdId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
