@model IEnumerable<PatientAppointmentSystem.Models.AvailableDay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day.Day1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Day1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AvdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AvdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AvdId })
        </td>
    </tr>
}

</table>
